.menu-icon {
    position: fixed;
    top: 65px;
    left: 10px;
    background: transparent;
    border: none;
    z-index: 2000;
    cursor: pointer;
}

.menu-icon img {
    width: 75px;
    height: 75px;
}


.side-menu-open,
.side-menu-closed {
    position: fixed;
    top: 72px; 
    left: 0;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: 1500;
}


.side-menu-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);

}


.side-menu-panel {

    position: fixed;
    top: 68px !important;
    left: 0;
    width: 325px;
    height: calc(100vh - 80px);
    background: #2c99a3;
    padding: 25px;
    transition: transform .3s ease;
    z-index: 1600;
}

.side-menu-open .side-menu-panel {
    transform: translateX(0);
}


.side-menu-closed .side-menu-panel {
    transform: translateX(-100%);
}

.close-button {

    position: absolute;
    top: 22px;
    right: 20px;
    background: transparent !important;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}


.side-menu-nav {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.side-menu-nav a {

    color: white;
    font-size: 22px;
    text-decoration: none;
}


.dashboard {

    margin-left: 0;
    transition: margin-left .3s ease;
}


.dashboard.shifted {

    margin-left: 325px;
}