.menu-icon {
    position: fixed;
    top: 65px;
    left: 10px;

    background: transparent;
    border: none;
    z-index: 2000;
    cursor: pointer;
}

.menu-icon img {
    width: 75px;
    height: 75px;
}

.side-menu-panel {
    position: fixed;
    top: 68px;
    left: 0;

    width: 325px;
    height: calc(100vh - 80px);

    box-sizing: border-box;

    background: #7d8c91;
    padding: 25px;

    z-index: 1600;
}

.side-menu-nav {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.side-menu-nav a {
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
}