.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.close-button {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;

  background-color: rgb(35, 140, 35);
  color: white;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;
}

.close-button:hover {
  background-color: rgb(35, 140, 35);
  transform: scale(1.05);
}


.submit-button, .sign-in-button {
  padding: 12px 40px;

  border-radius: 25px;
  border: none;

  background-color: rgb(35, 140, 35);
  color: white;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s ease;
}

.submit-button:hover, .sign-in-button:hover {
  background-color: rgb(35, 140, 35);
  transform: scale(1.05);
}