body {
  font-family: "Inter", sans-serif;
}

p {
  color: #2c2c2e;
}

.header-bar {
  display: flex;
  align-items: center;
  background-color: #0a6c74;
  color: white;
  padding: 5px;
  font-size: 1.5rem;
}


.button-container {
  display: flex;
  margin-left: auto;
  justify-content: center; 
  align-items: center;     
  gap: 10px;
}

.top-section {
  display: flex;
  width: 100%;
  min-height: 500px;
  background-color: #0a6c74 !important;
  padding: 60px 10%;
  gap: 50px;
  box-sizing: border-box;
}

.type-writer-animation {
  flex: 1.5;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.subtext {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #fdfdfd !important;
  max-width: 450px;
}


.sign-up-button {
  margin-top: 25px;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  background-color: rgb(35, 140, 35);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.sign-up-button:hover {
  background-color:rgb(35, 140, 35);
}


.search-bar-container {
  flex: 1;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.input-address {
  width: 280px;
  padding: 15px 20px;
  border-radius: 25px;
  border: 1px solid #D1D5DB;
  font-size: 1rem;
}


.input-address:focus {
  outline: none;
  border-color: #0F8B8D;
}


.search-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(35, 140, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button img {
  width: 22px;
}

.typewriter::after {
  content: "|";
  animation: blink 0.7s infinite;
  color: #fbfdff !important;
  margin-left: 5px;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }

  51%, 100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0a6c74;
  padding: 10px 25px;
}

.header-title {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

.page-directories {
  display: flex;
  gap: 25px;
}

.page-directories a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 5px;
   padding: 12px 24px;
}

.page-directories a:hover {
  text-decoration: underline;
}

.sign-in-button {
  border: 2px solid rgb(35, 140, 35);
  background-color: rgb(35, 140, 35);
  border-radius: 5px;
}

.info-section-container-grey,
.info-section-container-white {
    display: flex;
    width: 100%;
    min-height: 400px;
}

.info-section-container-grey {
    background-color: #716c6c;
}

.info-section-container-white {
    background-color: white;
}


.info-text-section-container {
    
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}


.info-image-section-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-section-container-grey {
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: #d6d9df;
}

.info-section-container-white {
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: white;
}


.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}


.search-description-text {
  margin-bottom: 0px; 
}

.search-box {
  display: flex;
  align-items: center;
  margin-top: -8px; 
}

.input-address {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}